[submodule "binja"]
	path = binja
	url = git@github.com:Vector35/binaryninja-api.git
[submodule "Views/MachO"]
	path = Views/MachO
	url = git@github.com:Vector35/view-macho.git
[submodule "Shared/cereal"]
	path = Shared/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "libkbinja"]
	path = libkbinja
	url = git@github.com:vr1s/libkbinja.git
