[submodule "binja"]
	path = binaryninja-api
	url = git@github.com:Vector35/binaryninja-api.git
[submodule "Views/MachO"]
	path = Views/MachO
	url = git@github.com:Vector35/view-macho.git
[submodule "UI/Callgraph"]
	path = UI/Callgraph
	url = git@github.com:cxnder/yacp.git
[submodule "libkbinja"]
	path = libkbinja
	url = git@github.com:vr1s/libkbinja.git
[submodule "XNU"]
	path = XNU
	url = git@github.com:cxnder/binaryninja-xnu.git
